
@* ---------------NOME FARMACIA--------------------------------------------------------------------------------------
 *@
@{
    ViewData["Title"] = "Ricerca per Nome della Farmacia";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="RicercaNome" method="post">
    <div class="form-group">
        <label for="denominazione">Denominazione:</label>
        <input type="text" class="form-control" id="denominazione" name="denominazione" />
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>


@* ---------------REGIONE--------------------------------------------------------------------------------------
 *@
@{
    ViewData["Title"] = "Ricerca per Regione";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="SearchByRegione" method="post">
    <div class="form-group">
        <label for="regione">regione:</label>
        <input type="text" class="form-control" id="regione" name="regione" />
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>


@*  ---------------PROVINCIA--------------------------------------------------------------------------------------
 *@
@{
    ViewData["Title"] = "Ricerca per Provincia";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="SearchByProvincia" method="post">
    <div class="form-group">
        <label for="provincia">provincia:</label>
        <input type="text" class="form-control" id="provincia" name="provincia" />
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>


@* ---------------COMUNE--------------------------------------------------------------------------------------
 *@
@{
    ViewData["Title"] = "Ricerca per Comune";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="SearchByComune" method="post">
    <div class="form-group">
        <label for="comune">Comune:</label>
        <input type="text" class="form-control" id="comune" name="comune" />
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>